// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
//  G R I D ☺
//
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.container
  width: 100%
  max-width: $maxContainerWidth
  margin: 0 auto
  padding: 0 15px
  +clearfix

.row
  +clearfix

.col-2 > *
  float: left
  width: 50%

