$transition-duration: 600ms

.main-wrap
  position: relative
  min-height: 100%
  background: $bodyBackground
  transition: $transition-duration
  z-index: 420
  padding-top: 50px

html
  &.nav-active
    .main-wrap, .logo
      transform: translateX(-12em)
    .nav-wrap nav
      transform: scale(1,1)

.logo
  display: none
  position: absolute
  top: 30px
  left: 30px
  width: 130px
  z-index: 10
  transition: $transition-duration
  a
    border: none

.nav-wrap
  position: fixed
  top: 0
  right: 0
  background-color: $black
  height: 100%
  width: 12em
  -webkit-font-smoothing: antialiased
  transition: $transition-duration
  nav
    transform: scale(0.7,0.7)
    transition: $transition-duration
    & > div
      padding: 25px 0 0 0
      text-align: center
      a
        @extend h5
        border: none
        color: $grayDarkest
        &:visited
          color: $grayDarkest
        &.active
          color: white

nav.user-nav
  position: absolute
  bottom: 0
  width: 100%

#drawer-button
  position: relative
  float: right
  top: 15px
  margin: 0 0 0 20px
  height: 20px
  cursor: pointer
  .navicon:before, .navicon:after 
    transition: $transition-duration
  .navicon 
    position: relative
    width: 18px
    height: 3px
    background: $black
    transition: $transition-duration
    border-radius: 2.5rem
    top: 10px
    &:after, &:before 
      display: block
      content: ""
      height: 3px
      width: 18px
      background: $black
      position: absolute
      z-index: -1
      transition: $transition-duration
      border-radius: 1rem
    &:after  
      top: -5px 
    &:before  
      top: 5px 

html.nav-active #drawer-button .navicon:not(.steps) .navicon:before,
html.nav-active #drawer-button .navicon:not(.steps) .navicon:after 
  top: 0 !important
html.nav-active #drawer-button .navicon .navicon:before,
html.nav-active #drawer-button .navicon .navicon:after 
  transition: $transition-duration

html.nav-active #drawer-button
  .navicon 
    background: transparent
    &:after  
      transform: rotate(45deg) 
      top: 0  
    &:before  
      transform: rotate(-45deg)   
      top: 0
    // &:hover
    //   top: 0


  


