
//
// C O L O R S
// 

$black: #050505
$white: #fff
$grayLight: #E5E5E5
$gray: #f7f7f7
$grayDark: #c1c1c1
$grayDarkest: #777

$borders: #CCC

$blue: #00F
$green: #20dc8e
$red: #E32D22
$cream: #F6F7ED
$yellow: #ffc523
$purple: #8163A3
$pink: #C86094
$orange: #FA921E


//
// B A S E
//
$linkColor: $grayDarkest
$linkHoverColor: $black

$primaryColor: $blue
$bodyBackground: white
$hrColor: $red

$borderColor: $grayDark

$maxContainerWidth: 1400px
$globalSpacing: 30px


//
// B u t t o n
//
$button-padding: 9px 30px
$button-height: 43px
$button-border: 1px

$primary-button-color: white
$primary-button-bg: $primaryColor
$primary-button-hover: darken($primaryColor, 10%)

$alt-button-color: white
$alt-button-bg: $grayDark
$alt-button-hover: darken($grayDark, 10%)

$hollow-button-color: $grayDarkest


//
// T Y P E O G R A P H Y
// 

//"Helvetica Neue", Helvetica, Arial, sans-serif
//$baseFontFamily: 'Merriweather', serif
$baseFontFamily: 'Merriweather', serif
$baseFontWeight: 400
$baseLineHeight: 1.6
$baseFontSize: 14px

$headingsFontFamily: 'Merriweather Sans', serif
$headingsFontWeight: 700

$boldFontWeight: 700

$altFontFamily: Georgia, Georgia, serif 
$altFontWeight: normal
$monospaceFontFamily: "Courier New", monospace

//
// T A B L E S
//

$table-bg: $bodyBackground
$table-border-color: $grayDarkest
$table-stripe-color: $grayLight
$table-bg-hover: $grayLight
$table-cell-padding: 8px


//
// I N P U T
//

$input-color: $black
$input-bg: $bodyBackground
$input-border-width: 2px
$input-border: $gray
$input-border-radius: 0
$input-focus: $black
$input-disabled: $grayLight
$input-padding: 8px 10px 4px
$input-height: $button-height

